markdown/*.html
mini_lectures/experimental_design_files/*
mini_lectures/experimental_design_cache/*
markdown/experimental_design_cache/*
markdown/experimental_design_files/*
mini_lectures/experimental_design_files/figure-html/*
mini_lectures/experimental_design_cache/html/*
mini_lectures/linear_modelling_files/*
mini_lectures/linear_modelling_cache/*
